/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
 /*:root {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --main-font: 'IBM Plex mono';
}  */


  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
/* */

 .page.theme_dark {
    --main-text-color: #F1B2CE;
    --accent-color-main: #FF0070;
    --second-text-color: #000028;
    --color-button: #FF0070;
    --border-color-btn-hover: rgba(255, 0, 112, 0.4);
    --underline-color-btn-focus: #FF0070;
    --bg-color: #000028;
    --bg-image: url("/images/cover-image-dark.png");
    --color-text-title: #DB00FF;
    --shadow-color:  #FF0070;
    --decor-color:#FF0070;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #F1B2CE;
    --accent-color-main: #FF0070;
    --second-text-color: #000028;
    --color-button: #FF0070;
    --border-color-btn-hover: rgba(255, 0, 112, 0.4);
    --underline-color-btn-focus: #FF0070;
    --bg-color: #000028;
    --bg-image: url("/images/cover-image-dark.png");
    --color-text-title: #DB00FF;
    --shadow-color:  #FF0070;
    --decor-color:#FF0070;
  }
}
  