.page.theme_dark {
  --main-text-color: #f1b2ce;
  --accent-color-main: #ff0070;
  --second-text-color: #000028;
  --color-button: #ff0070;
  --border-color-btn-hover: rgba(255, 0, 112, 0.4);
  --underline-color-btn-focus: #ff0070;
  --bg-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --color-text-title: #db00ff;
  --shadow-color: #ff0070;
  --decor-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #f1b2ce;
    --accent-color-main: #ff0070;
    --second-text-color: #000028;
    --color-button: #ff0070;
    --border-color-btn-hover: rgba(255, 0, 112, 0.4);
    --underline-color-btn-focus: #ff0070;
    --bg-color: #000028;
    --bg-image: url("../images/cover-image-dark.png");
    --color-text-title: #db00ff;
    --shadow-color: #ff0070;
    --decor-color: #ff0070;
  }
}
