.page.theme_light {
  --main-text-color: #353430;
  --accent-color-main: #ff8dcb;
  --second-text-color: #353430;
  --color-button: #353430;
  --border-color-btn-hover: rgba(50, 49, 45, 0.4);
  --underline-color-btn-focus: #353430;
  --bg-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");
  --color-text-title: #ffc2e6;
  --shadow-color: #ff0070;
  --decor-color: #353430;
}

.theme_light .decorative__element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --accent-color-main: #ff8dcb;
    --second-text-color: #353430;
    --color-button: #353430;
    --border-color-btn-hover: rgba(50, 49, 45, 0.4);
    --underline-color-btn-focus: #353430;
    --bg-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");
    --color-text-title: #ffc2e6;
    --shadow-color: #ff0070;
    --decor-color: #353430;
  }

  .theme_light .decorative__element,
  .theme_auto .decorative__element {
    display: none;
  }
}
