/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  inline-size: 375px;
  block-size: 100%;
  font-family: var(--main-font, sans-serif);
  color: var(--text-color,#F1B2CE);
  background-color: var(--bg-color,#000028);

}

.title-text {
  font-size: clamp(7.5rem, 6.1638rem + 5.7011vw, 9.8125rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: #FF0070;
}

.accent-bg-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  background-color:#FF0070;
}
