/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  block-size: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.decorated-zone {
  position: relative;
  color: var(--decor-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inset-inline-end: 0;
  inset-block-start: 0;
}
 
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.decorative__element {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  color: var(--decor-color);
  text-transform: uppercase;
  line-height: 26px;
  inset-inline-end: -9px;
  inset-block-start: 0;
}

.decorative__element::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
  background-color: var(--decor-color);
  margin-right: 19px;
  inline-size: 9px;
  block-size: 9px;
}

.header {
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block: 10px;
  margin-inline: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 18px;
  list-style-type: none;
}

.header__theme-menu-button {
  display: inline-block;
  line-height: 18px;
  color: var(--color-button);
  padding: 2px 13px 4px;
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color-btn-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-button);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--underline-color-btn-focus);
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: var(--color-text-title);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__desc {
  background-color: var(--accent-color-main);
}

.title-paragraph {
  color: var(--second-text-color);
  font-weight: 700;
  max-width: 355px;
  text-align: left;
}

.header__theme-menu-list {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.main {
  display: grid;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  background-color: var(--bg-color);
  padding-block: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding-inline: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.content {
  display: grid;
  gap: 20px;
}

.content__title {
  color: var(--accent-color-main);
  font-weight: 700;
  text-align: left;
  font-size: inherit;
}

.content-subtitle {
  font-size: inherit;
  color: var( --second-text-color);
  background-color: var(--accent-color-main);
  font-weight: 700;
}

.subtitle-text {
  color: var(--main-text-color);
  line-height: 23.4px;
  text-align: left;
}

.content__block {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.topic {
  font-size: inherit;
  font-weight: normal;
  background-color: var(--accent-color-main);
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.link {
  text-decoration: none;
  color: var(--main-text-color);
  text-shadow: 2px 2px 0 var(--accent-color-main);
}

.link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--main-text-color);
  line-height: 1;
  display: inline-block;
  padding-bottom: 2px;
}

.gallery {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.gallery-title {
  font-size: inherit;
  color: var(--second-text-color);
  background-color: var( --accent-color-main);
  font-weight: 700;
}

.gallery-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  list-style: none;
}

.gallery-image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block: 10px;
  margin-inline: 10px;
}

.footer__title {
  color: var(--color-text-title);
  text-shadow: 2px 2px 0 var(--shadow-color);
  font-weight: 700;
  line-height: clamp(5.98125rem, 4.7595rem + 5.2126vw, 8.095625rem);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    margin-block: 20px;
    margin-inline: 20px;
  }
 
  .header__theme-menu {
    grid-column: span 2;
  }

  .header-title {
    grid-column: span 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline: calc(-1 * 20px);
  }

  .header__desc {
    grid-column: 2;
  }

  .title-paragraph {
    max-width: 355px;
  }

  .content {
    grid-template-columns: 1fr 2fr;
  }

  .content__block__tablet {
    grid-column: span 2;
  }

  .gallery-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
 
  .gallery-item:nth-child(1) {
    grid-column: span 2;
  }
 
  .gallery-item:nth-child(2) {
    grid-row: span 2;
  }
 
  .gallery-item:nth-child(3) {
    grid-row: span 2;
  }
 
  .gallery-item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    margin-block: 20px;
    margin-inline: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .content__block__laptop {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    align-items: start;
  }

  .title-paragraph {
    max-width: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
}