:root {
  --accent-color: #ff0070;
  --text-color: #000028;
  --bg-color: #000028;
  --shadow-color: #ff0070;
  --border-focus: rgba(255, 0, 112, 0.4);
  --main-color: #ff0070;
  --border-color: #ff0070;
  --focus-color: #ff0070;
  --focus-underline-color: #ff0070;
  --color-text-title: #db00ff;
  --accent-bg-color: #ff0070;
  --bg-image: url("/images/cover-image-dark.png");
  --color-tex-section: #f1b2ce;
}
